{% extends "base.html" %}
{% load humanize static %}

{% block title %}管理トップ | DairyMetrics{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'dairymetrics/app.css' %}?v=10" />
{% endblock %}

{% block content %}
<div class="container dairymetrics-admin-overview-page">
  {% include "dairymetrics/partials/admin_header.html" with admin_header_subtitle="本日の実績状況と提出状況を確認します。" %}
  <div id="dairymetrics-admin-overview-content">
    {% include "dairymetrics/partials/admin_overview_content.html" %}
  </div>
</div>
<script src="{% static 'dashboard/mobile_drawer.js' %}"></script>
<script src="{% static 'dairymetrics/admin_overview.js' %}?v=1"></script>
{% endblock %}
